# ==============================================================================
# SYSTEM REQUIREMENTS
# ==============================================================================
Node.js==24.16.0
npm==11.13.0

Django==5.0.3
pymongo==4.6.2

# ==============================================================================
# MAIN BACKEND LIBRARIES (Node.js Environment)
# ==============================================================================
express==5.2.1 (Web framework to build the API server)
cors==2.8.6 (Allows the React frontend to communicate with the Node.js API)
multer==2.1.1 (Handles and filters multi-file uploads with a strict 20MB size limit)
pdf-parse-fork==1.2.0 (Extracts raw text data from uploaded .pdf files)
tesseract.js==7.0.0 (OCR engine used to read text from .png, .jpg, and .jpeg images)

# ==============================================================================
# MAIN FRONTEND LIBRARIES (React Environment)
# ==============================================================================
react==19.2.6 (UI library for building the dashboard wrapper)
lucide-react==1.16.0 (Provides icons like Trash2, Upload, and FileText)